altgraph==0.17.5
beautifulsoup4==4.14.3
click==8.3.1
ffpyplayer==4.5.3
numpy==2.2.6
opencv-python==4.13.0.90
packaging==25.0
pillow==12.1.0
pkgconfig==1.5.5
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2025.11
setuptools==82.0.1
soupsieve==2.8.3
typing_extensions==4.15.0
